@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: burlywood;
    font-family: 'Fira Sans', sans-serif;
    width: 15vw;
    text-align: center;
    height: 120vh;
}

.sidebar nav{
    padding: 14px;
    
}

.sidebar nav li{
    list-style: none;
    padding: 33px 0;
    font-size: 30px;
}

.main{
    background-color: grey;
    width: 85vw;
}

.container{
    display: flex;
}

.infoContainer{
    background-color: rgb(187, 187, 167);
    height: 46vh;
    width: 74vw;
    margin: 144px auto;
    display: flex;
    justify-content: center;
    margin: 90px;
}

.intro{
    font-size: 30px;
    font-family: "Source Code Pro", serif;
}

.about{
    font-size: 25px;
    font-family: "Source Code Pro", serif;
}

.name{
    font-size: 50px;
    font-family: 'Fira Sans', sans-serif;
}
.moreabout{
    font-size: 15px;
}
.devPic img{
    
    height: 46vh;
    object-fit: contain;
}

.buttons button{
    background-color: lightblue;
    color: white;
    border-radius: 10px;
    padding: 8px;
    margin-top: 13px;
    margin: 12 7px;
    font-size: 18px;
    cursor: pointer;
}

.devInfo{
    margin: 47px;
}

.buttons button:hover{
    background-color: white;
    color: lightblue;

}